<!DOCTYPE html>
<html>
  <head>
    <title>Practice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-links">
      <% if current_user %>
        <%= current_user.username %> |
        <%= link_to 'Logout', logout_path %> |
      <% else %>
        <%= link_to 'Login', login_path %> |
        <%= link_to 'Register', new_user_path %> |
      <% end %>
      <%= link_to 'Home', root_path %>
    </div>
    <div class="content-container">
      <%= yield %>
    </div>
  </body>
</html>
